[user]
	name = Samuel He
	email = samuelhe52@outlook.com
[init]
	defaultBranch = main
[merge]
	tool = vimdiff
[core]
    quotePath = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
	proxy = http://127.0.0.1:7890
[https]
	proxy = http://127.0.0.1:7890
