alias gs='git status'
alias glp='git log --all --graph --decorate --oneline'
alias glpl='git log --all --graph --decorate'
alias coc='copilot --continue'
alias cor='copilot --resume'
alias python='python3'
